/* Estilos para el modo claro */
body.light-mode {
    background-color: #fff;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.mining-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.mining-form label {
    margin-bottom: 8px;
    font-weight: bold;
}

.mining-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.mining-form input[type="submit"],
.mining-form input[type="reset"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.mining-form input[type="submit"]:hover,
.mining-form input[type="reset"]:hover {
    background-color: #45a049;
}

.mining-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.mining-results h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.resultados-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 10px;
    padding: 10px;
}

.mining-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: -430px;
}

.mining-table th, .mining-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.mining-table th {
    background-color: #f2f2f2;
}

/* Estilos para el modo oscuro */
body.dark-mode {
    background-color: #1a1a1a;
    color: #fff;
}

.container.dark-mode {
    background-color: #2d2d2d;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); /* Ajusta la opacidad según sea necesario */
}

.mining-form.dark-mode {
    border: 1px solid #444;
}

.mining-form.dark-mode label {
    color: #ccc;
}

.mining-form.dark-mode input {
    border: 1px solid #555;
    background-color: #333;
    color: #fff;
}

.mining-form.dark-mode input[type="submit"],
.mining-form.dark-mode input[type="reset"] {
    background-color: #1a1a1a;
}

.mining-results.dark-mode {
    border: 1px solid #555;
    background-color: #2d2d2d;
}

.mining-results.dark-mode h2 {
    color: #fff;
}

.resultados-container.dark-mode {
    border: 1px solid #555;
}

.mining-table.dark-mode {
    border-collapse: collapse;
    margin-top: 0;
    margin-top: -430px; 
}

.mining-table.dark-mode th, .mining-table.dark-mode td {
    border: 1px solid #555;
    color: #fff;
}

.mining-table.dark-mode th {
    background-color: #1a1a1a;
}

.mining-table.dark-mode tr {
    background-color: #2d2d2d; 
    color: #fff;
}